@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin animation($name, $duration: 300, $delay: 0) {
  @if map-has-key($animations, $name ) {
    animation-name: $name;
    animation-fill-mode: both;
    animation-duration: #{$duration}ms;
    animation-delay: #{$delay}ms;
    animation-timing-function: ease-in-out;
  }
}