@mixin no-user-select {
  user-select: none;
}

@mixin disable-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin border-style($color, $radius: null) {
  @if $color==transparent {
    border: 1px solid $color;
  }

  @else if $color !=null {
    border: 1px solid var($color);
  }

  @if $radius !=null {
    border-radius: $radius;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-center {
  @include p-absolute(50%, null, null, 50%);

  transform: translate(-50%, -50%);
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin disabled-styles {

  &:disabled,
  &[disabled],
  &[disabled="disabled"] {
    @content;
  }
}

@mixin animation($name, $duration: 300, $delay: 0) {
  @if map-has-key($animations, $name) {
    animation-name: $name;
    animation-fill-mode: both;
    animation-duration: #{$duration}ms;
    animation-delay: #{$delay}ms;
    animation-timing-function: ease-in-out;
  }
}

@mixin visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
