$theme-dark: (
  "primary": $primary,
  "secondary": $secondary,
  "succes": $succes,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "light": $light,
  "dark": $dark,
  "muted": $muted,
  "white": $white,
);
